@import url('https://fonts.googleapis.com/css?family=Cinzel|Indie+Flower|Montserrat');
* {
    margin: 0px;
    padding: 0px;
}

html {
    padding: 0px;
}

.navHeader {
    border-bottom: 1px #8c8c8c80 solid;
    border-radius: inherit;
    box-shadow: 0px 1px 3px 0px rgb(198, 198, 198)
}
.colorAppName {
    color: #e68d9a;
}
.contentHome {
    display: flex;
    justify-content: center;
    background-color: #f4d1d775;
}
.contentIcons {
    display: flex;
    cursor: pointer;
    border-bottom: solid 2px #ced4da;
}
.contentIcons div {
    width: 50%;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.contentIcons div:hover {
    border: solid 2px #e68d9a;
    border-bottom: initial;
}

.totallyInfo {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #e68d9a21;
    max-width: 625px; 
    padding: 15px;
    padding-top: 0px;
}
.inputHome {
    border-radius: 20px;
}
.noticeHome {
    margin-left: 2.5%;
    max-width: 375px;
}
.formHome {
    border-bottom: solid 1px #dcdcdc;
}
.hashtag {
    background-color: #e68d9a;
    color: white;
    font-weight: bold;
    width: fit-content;
}
.postContainer {
    padding: 10px;
    border-bottom: 1px solid #8c8c8c80;
}
.postLabel {
    margin-top: 8px; 
    font-size: 16px;
    font-family: monospace;
}

.customOverlay {
    background: #00000061;
}
.customModal {
    max-width: 650px;
    width: 60%;
    border-radius: 12px;
    background:white;
}

.profileHeader {
    background-color: #e68d9a66;
    padding: 20px;
    color: white;
    font-family: 'Indie Flower';
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 1px 1px 0px rgb(198, 198, 198);
}
.profileHeader img {
    border-radius: 50%;
}
.profileHeader h1 {
    font-family: 'Cinzel';
}
.profileNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 16px;
    border-bottom: 1px #8c8c8c80;
    box-shadow: 0px 1px 3px 0px rgb(198, 198, 198);
}
.profileNav .tabs li{
    padding-left: 13px; 
    padding-right: 13px;
    cursor: pointer; 
    font-family: 'Indie Flower';
    font-size: 20px;
}
.btn-follow { 
    border-radius: 7px; 
    font-family: 'Indie Flower';
    font-size: 17px;
    color: white;
    background-color: #e68d9a;
    font-weight: bold;
}
.btn-unfollow { 
    border-radius: 7px;
    font-family: 'Indie Flower';
    font-size: 17px;
    color: white;
    font-weight: bold;
    background-color: #f15858;
}
.viewTitle {
    font-family: 'Cinzel';
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid 1px gray;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

.createChat {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.chatContent {
    display: grid;
    grid-template-columns: 1.25fr 3fr;
}
.chatsAllContent {
    background-color: #f2d0d561;
}
.chatColorLeft {
    background-color: #ff85a1;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}
.chatColorRight {
    background-color: #ffb6c7;
    color: white;
    border-radius: 10px;
    font-size: 25px;
}
.userContent {
    margin: 5px;
    margin-bottom: 20px;
}
.chatName {
    margin-left: 10px;
    font-size: 16px;
    font-family: monospace;
}
.chatName {
    font-size: 17px;
}
.messageUser {
	border-radius: 20px;
    padding: 8px;
    border: 1px solid #f9799a;
    font-family: monospace;
    font-size: 17px;
}
.messageRigth {
    text-align: right;
}
.messageLeft {
    text-align: left;
}

.authContent {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
}
.photoContent {
    background-image: 
        linear-gradient(
            rgba(230, 140, 140, 0.60),
            rgba(230, 140, 140, 0.60)),
        url(/wall_auth.jpg);
    background-position: center;
    background-image: cover;
}
.authformContent {
    background-color: #f7c2cb;    
    padding-top: 30px;   
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authformContent h1{
    color: white;
}
.authContent form{
    width: 80%;
    max-width: 500px;
}

.footerContent {
    background-color: #e68d9a1f;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer {
    background-color: #e68d9a66;
    box-shadow: 0px -2px 3px 0px rgb(198, 198, 198)
}
.f-brand {
    font-family: titillium web,sans-serif;
    font-size: 25px;
}
.n-footer {
    display: flex;
    flex-direction: column;
}
.f-link {
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.f-git {
    background-color: #a9a9a9;
    color: white;
    text-align: center;
    font-family: monospace;
}
.f-git label a {
    cursor: pointer;
    color: #0268ce;
    font-weight: bold;
}
.f-message {
    font-family: monospace;
    color: white;
    background-color: gray;
    text-align: center;
    padding: 15px;
}